*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.outline{
    height: 300px;
    width: 350px;
    background-color:aliceblue;
    box-shadow:0px 0px 40px rgb(64, 64, 64);
    border-radius: 10px;
    margin-top: 190px;
    text-align: center;
}   
.image{
    display: flex;
    height: 140px;
    width: 350px;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    background-color: rgb(57, 106, 190);
    justify-content: center;
    align-items: flex-end;
   
}
.image > img{  
    border-radius: 65px;
    border: 3px solid rgb(154, 184, 184);
    height: 110px;
    width: 110px;
    margin-bottom: 50px;
    overflow: auto;
}
.logos > ul {
    list-style:none; 
    display: flex;
    justify-content:center;
    gap: 2.5vw;
    margin-top: 10px;
}
.logos > li > a > svg{
    height: 45px;
    width: 45px;;
}
.logos > ul :hover{
 transform: scale(1.2);
}