body{
    background-color: lightblue ;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    
}
.logo{
    display: flex;
    height: 150px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
}

.logo img{
    height: 50px;
    width: 50px;
    margin-right: 5px;
    
}

ul{
    /* background-color: aqua; */
    height: 20px;
    list-style: none;
    display: flex;
    margin-left: 450px;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items:baseline;
    font-size: 60px;
}

.cont{ 
    display: flex;
    font-size: 30px;
    height: 100px;
    width: 100vw;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    text-align: center;
}
.cont > div{
    width: 75vw;
}
.btn{
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 10px;
}
button{
    background-color: #00b6d1;
    color:white;
    border-radius: 5px;
    border-style: hidden;
    font-size: 18px;    
    font-weight:bold;
    margin-top: 20px;
    height: 50px;
    width: 400px;
}
.logo2{
    display: flex;
    width: 70vw;
    margin-top: 20px;
    justify-content:center ;
    align-items:center;
    gap:10px;
}

.img2{
    border-radius: 40px;
    height: 60px;
    width: 60px;
}
.container{
    padding: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

} 
.box{
    width: 350px;
    height: 200px;
    margin: 20px;
    margin-top: 50px;
    background-color:#a2d2ff;
    border-radius: 10px;
}

.text 
{
    display: flex;
    justify-content: center;
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;  
}

.hlink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.hlink a{
    display: flex;
    background-color: #7678ed    ;
    color: #df5666;
    font-weight: 800;
    font-size: 16px;
    border-radius: 10px;
    width: 140px ;
    height: 35px; 
    margin: 10px; 
    padding: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}
.first-link 
{
    background-color: lightgreen !important;
}

.second-container{
    display: flex;
    background-color: black;
    margin-top: -30px;
    height: 700px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.cont2{
    width: 30vw;
    height: 400px;
    text-align: center;
    color: white;
}
.cont2 > h2 {
    margin-bottom: 20px;
    text-align: center;
    justify-items: center;
}